# Please be carefull when editing this file. 
# the paramaters are specify underneath and the syntax is:
# parameter_name' '=' 'value  
# and has to have the last line blank

cacheControl = 1800
location = 7f764937-d0d7-11e1-9b23-00059e9651fd.xml
server = CW/1.0 UPnP/1.1 CWUpnp/1.1
uuid = 7f764937-d0d7-11e1-9b23-00059e9651fd
upnp = rootdevice
urn = ses-com:device:SatIPServer:1
bootId = 981
configId = 2212703
deviceId = 1
httpPort = 80
